[submodule "lua"]
	path = lua
	url = https://github.com/LuaDist/lua.git
[submodule "lupa"]
	path = lupa
	url = https://github.com/scoder/lupa.git
[submodule "bsdiff4"]
	path = bsdiff4
	url = https://github.com/ilanschnell/bsdiff4.git
